@import url('css/fonts.css');
@import url('css/animations.css');
.main-cont__title,
.about-cont__title,
.success-cont__title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  cursor: default;
}
.main-cont__title::selection,
.about-cont__title::selection,
.success-cont__title::selection {
  background: transparent;
  color: inherit;
}
.promo-cont__txt,
.advantages-cont__title,
.how-cont__state-title,
.forms-cont__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
}
.promo-cont__txt::selection,
.advantages-cont__title::selection,
.how-cont__state-title::selection,
.forms-cont__title::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.menu-cont__between,
.menu-cont__point,
.menu-cont__vk,
.menu-cont__inst,
.menu-cont__fb,
.menu-cont__yt,
.about-cont__moretxt {
  text-decoration: none;
}
.menu-cont__between::selection,
.menu-cont__point::selection,
.menu-cont__vk::selection,
.menu-cont__inst::selection,
.menu-cont__fb::selection,
.menu-cont__yt::selection,
.about-cont__moretxt::selection {
  background: transparent;
  color: inherit;
}
.menu-cont__between:active,
.menu-cont__point:active,
.menu-cont__vk:active,
.menu-cont__inst:active,
.menu-cont__fb:active,
.menu-cont__yt:active,
.about-cont__moretxt:active {
  color: #d8e4e4;
}
.about-cont__txt::selection,
.advantages-cont__descript::selection,
.how-cont__txt::selection,
.slogan-logo__name::selection,
.contacts-cont__txt::selection,
.forms-cont__txt::selection,
.promo-cont_bold::selection,
.about-cont_bold::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.forms-cont_txt,
.promo-cont__form,
.forms-cont__form,
.menu-cont__dropbtn,
.promo-cont__order,
.forms-cont__order {
  background: #f8fefe;
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: 0 0 6px 6px;
}
.forms-cont_txt::selection,
.promo-cont__form::selection,
.forms-cont__form::selection,
.menu-cont__dropbtn::selection,
.promo-cont__order::selection,
.forms-cont__order::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.forms-cont_txt,
.promo-cont__form,
.forms-cont__form {
  display: block;
  width: 100%;
  font-size: 1.02em;
  font-family: "OpenSans", sans-serif;
  border: 1px solid rgba(105,168,195,0.5);
}
.promo-cont__form,
.forms-cont__form {
  margin-bottom: 12px;
}
.forms-cont_txt:focus,
.promo-cont__form:focus,
.forms-cont__form:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 1.2px #a587e3;
}
.forms-cont_txt::placeholder,
.promo-cont__form::placeholder,
.forms-cont__form::placeholder {
  color: rgba(69,54,99,0.5);
}
.menu-cont__dropbtn,
.promo-cont__order,
.forms-cont__order {
  cursor: pointer;
  border: none;
  color: #f8fefe;
  font-size: 1.0506em;
  font-family: "OpenSans", sans-serif;
  background: #a587e3;
}
.menu-cont__dropbtn:focus,
.promo-cont__order:focus,
.forms-cont__order:focus {
  outline: none;
}
.menu-cont__dropbtn:active,
.promo-cont__order:active,
.forms-cont__order:active {
  filter: brightness(90%);
}
.menu-cont__dropbtn,
.menu-cont__contacts,
.about-cont__moretxt {
  display: none;
}
.main-cont {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  color: #2a2a2a;
  font-size: 97%;
  background: #f8fefe;
  overflow-x: hidden;
}
.main-cont_pad {
  padding: 50px 15vw;
}
.main-cont_pad-aside {
  padding-right: 15vw;
  padding-left: 15vw;
}
.header-cont,
.footer-cont {
  background: #f8fefe;
  margin: 0;
  box-sizing: border-box;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.slogan-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.slogan-logo__name {
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
}
.slogan-logo__name::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.slogan-logo__activ-cont {
  width: auto;
  font-size: 0.9588em;
  padding-bottom: 5px;
  padding-top: 4px;
  padding-right: 0.76704em;
  padding-left: 0.76704em;
  background: #34c3a6;
  box-sizing: border-box;
  color: #f8fefe;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.slogan-logo__activity {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  font-weight: 300;
}
.slogan-logo__activity::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.contacts-cont {
  height: 100%;
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.contacts-cont__txt {
  font-size: 0.9em;
}
.contacts-cont__txt::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.contacts-cont__social {
  background: #34c3a6;
  width: 90%;
  padding: 4px 0.9em;
  border-radius: 6px 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.contacts-cont__vk,
.contacts-cont__inst,
.contacts-cont__fb,
.contacts-cont__yt {
  display: block;
  width: 17.5px;
  height: 17.5px;
  fill: #f8fefe;
}
.contacts-cont__vk {
  background-image: url("icons/social/vk.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.contacts-cont__inst {
  background-image: url("icons/social/inst.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.contacts-cont__fb {
  background-image: url("icons/social/fb.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.contacts-cont__yt {
  background-image: url("icons/social/yt.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.menu-cont {
  width: 100vw;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 0 0 6px 6px;
  background-image: linear-gradient(90deg, #a587e3 0%, #34c3a6 100%);
}
.menu-cont__points {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.menu-cont__between,
.menu-cont__point {
  text-align: center;
  font-size: 1.02em;
  color: #f8fefe;
}
.menu-cont__point {
  transition: 0.2s color cubic-bezier(1, 0.01, 0.16, 0.89);
}
.menu-cont__between {
  cursor: default;
}
.menu-cont__dropbtn,
.menu-cont__contacts {
  display: none;
}
.banner-cont {
  height: auto;
  padding-bottom: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.banner-cont::before {
  content: '';
  width: 100%;
  height: 100%;
  /* background: #34c3a6; */
  z-index: -3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-cont::after {
  content: '';
  width: 100%;
  height: calc(100% + 6px*3);
  opacity: 0.95;
  z-index: -2;
  filter: brightness(125%) contrast(79%);
  /* background-image: url("images/banner.jpg"); */
  background-position: 70% 60%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner-cont__title-cont {
  margin-top: 50px;
  padding: 37.5px;
  background: rgba(29,89,114,0.3);
  color: #f8fefe;
  -moz-backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: 4px 4px 10px rgba(42,42,42,0.3);
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.banner-cont__title {
  margin: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.08em;
  cursor: default;
}
.banner-cont__title::selection {
  background: transparent;
  color: inherit;
}
.banner-cont__subtitle {
  display: block;
  width: 100%;
  font-size: 1.4em;
  cursor: default;
}
.banner-cont__subtitle::selection {
  background: transparent;
  color: inherit;
}
.promo-cont {
  width: 50%;
  margin-top: 25px;
  padding: 37.5px 25px;
  background: rgba(29,89,114,0.3);
  color: #f8fefe;
  -moz-backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  box-shadow: 4px 4px 10px rgba(42,42,42,0.3);
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.promo-cont__txt {
  width: 45%;
  font-weight: normal;
  margin: 0;
}
.promo-cont__txt::selection {
  background: #34c3a6;
  color: #f8fefe;
}
.promo-cont__forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.promo-cont__forms {
  margin-left: 25px;
  width: calc(55% - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.about-cont {
  padding-top: 0;
}
.about-cont__title {
  margin: 0;
  box-sizing: border-box;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.about-cont__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.about-cont__pic-cont {
  width: 30%;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-cont__pic{
  max-height: 400px;
  height: 100%;
}
.about-cont__txt {
  padding-left: 37.5px;
  width: calc(100% - 30% - 37.5px);
  margin: 0;
  font-size: 1.02em;
}
.main-cont_advant {
  color: #f8fefe;
  background-image: linear-gradient(90deg, #a587e3 30%, rgba(105,168,195,0.2) 100%);
  margin: 0;
  box-sizing: border-box;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.advantages-cont__advantage {
  width: 100%;
  box-sizing: border-box;
  padding: 37.5px;
  transition: box-shadow 0.5s, transform 0.5s cubic-bezier(1, 0.01, 0.16, 0.89);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.advantages-cont__pic {
  height: 300px;
  margin-right: 50px;
  width: calc(60% - 50px);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 0 0 6px 6px;
}
.advantages-cont__txt {
  width: 60%;
}
.advantages-cont__title {
  margin: 0;
}
.advantages-cont__descript {
  position: relative;
}
.advantages-cont__descript::before {
  content: '';
  width: 100%;
  height: 2px;
  background: #a587e3;
  position: absolute;
  top: -10px;
  right: 0;
  bottom: auto;
  left: 0;
}
.advantages-cont__descript::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #a587e3;
  position: absolute;
  top: auto;
  right: 0;
  bottom: -20px;
  left: 0;
}
.advantages-cont_2 {
  margin: 50px 0;
}
.advantages-cont_1,
.advantages-cont_3 {
  flex-direction: row-reverse;
}
.advantages-cont_rightPic {
  margin-right: 0;
  margin-left: 50px;
}
.advantages-cont_interest {
  background-image: url("images/interest.svg");
  background-size: cover;
}
.advantages-cont_individ {
  background-image: url("images/individ.svg");
  background-size: 80%;
}
.advantages-cont_price {
  background-image: url("images/price.svg");
  background-size: 80%;
}
.main-cont_how {
  color: #f8fefe;
  background-image: linear-gradient(90deg, #34c3a6 30%, rgba(105,168,195,0.2) 100%);
  margin: 0;
  box-sizing: border-box;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.how-cont {
  padding-top: 50px;
  padding-bottom: 50px;
}
.how-cont__content {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 25px*3) / 4));
  grid-template-rows: repeat(1, calc((100% - 50px*0) / 1));
  grid-column-gap: 25px;
  grid-row-gap: 50px;
}
.how-cont_line {
  position: relative;
}
.how-cont_line::before {
  content: '';
  animation: line 2s cubic-bezier(1, 0.01, 0.16, 0.89);
  width: 75%;
  height: 3px;
  z-index: -2;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 12.5%;
  background-image: linear-gradient(90deg, #a587e3 0%, #34c3a6 100%);
}
.how-cont__state {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.how-cont__state-title {
  height: 80px;
  margin: 0;
  flex: none;
  text-align: center;
}
.how-cont__txt {
  /* text-align: center; */
  margin: 0;
}
.how-cont__icon {
  width: 120px;
  height: 120px;
  background: #f8fefe;
  flex: none;
  border-radius: 50%;
  border: 2px solid #a587e3;
  margin-bottom: 25px;
}
.how-cont_purpose {
  background-image: url("icons/purpose.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.how-cont_repeat {
  background-image: url("icons/repeat.svg");
  background-position: 44%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.how-cont_work {
  background-image: url("icons/work.svg");
  background-position: 63%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.how-cont_talk {
  background-image: url("icons/talk.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.forms-cont {
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.main-cont_forms {
  color: #fff;
  background-image: linear-gradient(90deg, #a587e3 0%, #34c3a6 100%);
  margin: 0;
  box-sizing: border-box;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.forms-cont__title {
  margin: 0 0 25px 0;
}
.forms-cont__txt-cont {
  width: 40%;
  font-size: 1.02em;
}
.forms-cont__forms {
  margin-left: 25px;
  width: calc(60% - 25px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.forms-cont__column {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.forms-cont__form-group {
  width: 100%;
}
.promo-cont__form-label {
  font-size: 1.122em;
  cursor: default;
}
.forms-cont_comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 24px;
  width: calc(50% - 24px);
}
.forms-cont_txt {
  display: block;
  height: 100%;
  resize: none;
}
.footer-cont {
  margin-top: 50px;
  background: #9080b3;
  color: #f8fefe;
  filter: brightness(92%);
}
.success-cont {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 60vh;
}
