@media (min-width: 1161px) and (max-width: 1300px) {
    .main-cont_pad {
      padding: 50px 7.5vw;
    }
    .main-cont_pad-aside {
      padding-right: 7.5vw;
      padding-left: 7.5vw;
    }
    .banner-cont__title {
      font-size: 2.86em;
    }
    .promo-cont__forms {
      margin-left: 15px;
      width: calc(55% - 15px);
    }
  }
  @media (min-width: 851px) and (max-width: 1160px) {
    .main-cont__title,
    .about-cont__title,
    .success-cont__title {
      font-size: 1.98em;
    }
    .promo-cont__txt,
    .advantages-cont__title,
    .how-cont__state-title,
    .forms-cont__title {
      font-size: 1.575em;
    }
    .main-cont_pad {
      padding: 50px 9vw;
    }
    .main-cont_pad-aside {
      padding-right: 9vw;
      padding-left: 9vw;
    }
    .banner-cont {
      padding-bottom: 80px;
    }
    .banner-cont__subtitle {
      font-size: 1.33em;
    }
    .banner-cont__title {
      font-size: 2.2em;
    }
    .promo-cont__forms {
      margin-left: 15px;
    }
    .about-cont__pic-cont {
      height: 320px;
    }
    .advantages-cont_2 {
      margin: 0;
    }
    .advantages-cont_individ {
      background-size: 90%;
    }
    .how-cont__content {
      display: grid;
      grid-template-columns: repeat(2, calc((100% - 25px*1) / 2));
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 25px;
      grid-row-gap: 50px;
      position: static;
    }
    .how-cont__state {
      padding: 25px;
      position: relative;
    }
    .how-cont__state::after {
      font-size: 2.2em;
      font-family: "Montserrat", sans-serif;
      z-index: -1;
      position: absolute;
      top: 25px;
      right: 0;
      bottom: 0;
      left: 25px;
    }
    .how-cont_purpose-state::after {
      content: '1.';
    }
    .how-cont_repeat-state::after {
      content: '2.';
    }
    .how-cont_work-state::after {
      content: '3.';
    }
    .how-cont_talk-state::after {
      content: '4.';
    }
  }
  @media (min-width: 1001px) and (max-width: 1160px) {
    .banner-cont__title {
      font-size: 2.64em;
    }
  }
  @media (min-width: 851px) and (max-width: 1000px) {
    .banner-cont__title {
      font-size: 2.255em;
    }
    .promo-cont {
      font-size: 95%;
    }
    .promo-cont__txt {
      font-size: 1.575em;
    }
  }
  @media (min-width: 621px) and (max-width: 850px) {
    .main-cont {
      font-size: 92%;
    }
    .main-cont__title,
    .about-cont__title,
    .success-cont__title {
      font-size: 1.98em;
    }
    .promo-cont__txt,
    .advantages-cont__title,
    .how-cont__state-title,
    .forms-cont__title {
      font-size: 1.575em;
    }
    .main-cont_pad {
      padding: 30px 4.5vw;
    }
    .main-cont_pad-aside {
      padding-right: 4.5vw;
      padding-left: 4.5vw;
    }
    .banner-cont {
      padding-bottom: 80px;
    }
    .promo-cont,
    .banner-cont__title-cont {
      padding: 20px;
    }
    .banner-cont__title {
      font-size: 2.2em;
    }
    .banner-cont__subtitle {
      font-size: 1.19em;
    }
    .promo-cont__txt {
      font-size: 1.4em;
    }
    .about-cont__pic-cont {
      height: 250px;
    }
    .advantages-cont_2 {
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .advantages-cont_individ {
      background-size: 90%;
    }
    .how-cont__content {
      display: grid;
      grid-template-columns: repeat(2, calc((100% - 20px*1) / 2));
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      position: static;
    }
    .how-cont__state {
      padding: 20px;
      position: relative;
    }
    .how-cont__state::after {
      font-size: 2.2em;
      font-family: "Montserrat", sans-serif;
      z-index: -1;
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 0;
      left: 20px;
    }
    .how-cont_purpose-state::after {
      content: '1.';
    }
    .how-cont_repeat-state::after {
      content: '2.';
    }
    .how-cont_work-state::after {
      content: '3.';
    }
    .how-cont_talk-state::after {
      content: '4.';
    }
    .forms-cont {
      flex-direction: column;
    }
    .forms-cont__txt-cont {
      width: 100%;
    }
    .forms-cont__forms {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
  @media (min-width: 621px) and (max-width: 740px) {
    .promo-cont__form,
    .forms-cont__form,
    .menu-cont__dropbtn,
    .promo-cont__order,
    .forms-cont__order {
      font-size: 0.918em;
    }
    .promo-cont,
    .menu-cont {
      font-size: 95%;
    }
    .banner-cont__subtitle {
      display: none;
    }
    .promo-cont__txt {
      font-size: 1.3125em;
    }
  }
  @media (min-width: 621px) and (max-width: 660px) {
    .banner-cont__title {
      font-size: 1.98em;
    }
  }
  @media (max-width: 620px) {
    .main-cont {
      font-size: 91%;
    }
    .main-cont__title,
    .about-cont__title,
    .success-cont__title {
      font-size: 1.76em;
      width: 100%;
    }
    .about-cont__title,
    .main-cont__how-title,
    .main-cont__forms-title {
      margin: 0;
      box-sizing: border-box;
      height: 64px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-radius: 0 0 6px 6px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
    }
    .promo-cont__form,
    .forms-cont__form,
    .menu-cont__dropbtn,
    .promo-cont__order,
    .forms-cont__order {
      font-size: 0.9894em;
      padding: 3px 8.399999999999999px;
    }
    .main-cont_pad {
      padding: 35px 3vw;
    }
    .main-cont_pad-aside {
      padding-right: 3vw;
      padding-left: 3vw;
    }
    .header-cont {
      margin: 0;
      box-sizing: border-box;
      height: 64px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-radius: 0 0 6px 6px;
      height: auto;
    }
    .contacts-cont,
    .contacts-cont__txt {
      font-size: 0.873em;
    }
    .contacts-cont__social {
      width: 75%;
      padding: 2.5px 0.72em;
    }
    .contacts-cont__vk,
    .contacts-cont__inst,
    .contacts-cont__fb,
    .contacts-cont__yt {
      width: 15px;
      height: 15px;
    }
    .promo-cont,
    .menu-cont {
      font-size: 95%;
    }
    .menu-cont {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .banner-cont {
      height: auto;
      padding-bottom: 35px;
      align-items: flex-end;
    }
    .banner-cont::after {
      background-size: cover;
    }
    .promo-cont,
    .banner-cont__title-cont {
      margin: 0;
      padding: 15px;
    }
    .banner-cont__title-cont {
      width: auto;
    }
    .banner-cont__title {
      width: auto;
      text-align: center;
      font-size: 1.76em;
    }
    .banner-cont__subtitle {
      display: none;
    }
    .promo-cont {
      margin-top: 7.5px;
      flex-direction: column;
      align-items: center;
    }
    .promo-cont__forms {
      width: 90%;
      margin: 0;
    }
    .promo-cont__txt {
      width: 100%;
      font-size: 1.4841em;
      margin-bottom: 8.399999999999999px;
      text-align: center;
    }
    .about-cont {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
    }
    .about-cont__content {
      flex-direction: column;
    }
    .about-cont__txt {
      width: 100%;
      padding: 0;
      margin-top: 15px;
    }
    .about-cont__pic-cont {
      width: 80%;
      height: 200px;
      padding: 0;
    }

    .advantages-cont__advantage {
      padding: 15px;
      background: rgba(248,254,254,0.4);
      position: relative;
    }
    .advantages-cont__txt {
      width: 100%;
      backdrop-filter: blur(2px);
    }
    .advantages-cont__pic {
      -moz-display: none;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: -1;
      opacity: 0.3;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 20px #f8fefe solid;
      box-sizing: border-box;
      background-size: 60%;
    }
    .advantages-cont_2 {
      margin: 35px 0;
    }
    .how-cont__content {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(4, auto);
      grid-column-gap: 15px;
      grid-row-gap: 30px;
      position: static;
    }
    .forms-cont {
      flex-direction: column;
    }
    .forms-cont__txt-cont {
      width: 100%;
    }
    .forms-cont__forms {
      width: 100%;
      margin: 15px 0 0 0;
      flex-direction: column;
    }
    .forms-cont__column {
      margin: 0;
      width: 65%;
    }
    .forms-cont_comment {
      display: none;
    }
  }
  @media (max-width: 550px) {
    .menu-cont {
      height: auto;
      font-size: 87%;
    }
    .header-cont {
      height: auto;
      font-size: 93%;
    }
    .contacts-cont__social {
      width: 80%;
    }
    .about-cont__txt {
      max-height: 350px;
      overflow: hidden;
      position: relative;
      transition: 1.2s max-height linear;
    }
    .about-cont__moretxt {
      display: block;
      width: 100%;
      height: 25px;
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 1.2em;
      z-index: 2;
      background-image: linear-gradient(0deg, #f8fefe 35%, transparent 50%);
      background-size: 100% 200%;
      background-position: 0 70%;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
    }
    .about-cont__moretxt::after {
      content: '>';
      width: 20px;
      color: #a587e3;
      font-size: 30px;
      text-align: center;
      transform: rotate(90deg);
      position: absolute;
      top: auto;
      right: calc(50% - 20px/2);
      bottom: -10px;
      left: auto;
    }
    .about-cont_lesstxt {
      padding: 20px 0 0 0;
    }
    .about-cont_lesstxt::after {
      transform: rotate(270deg);
      top: -7px;
      bottom: auto;
    }
    .contacts-cont__vk,
    .contacts-cont__inst,
    .contacts-cont__fb,
    .contacts-cont__yt {
      width: 15px;
      height: 15px;
    }
  }
  @media (max-width: 450px) {
    .footer-cont,
    .header-cont {
      justify-content: center;
    }
    .contacts-cont {
      display: none;
    }
    .promo-cont__txt {
      font-size: 1.224em;
    }
    .menu-cont {
      padding-top: 7px;
      padding-bottom: 7px;
      position: relative;
    }
    .menu-cont__contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
    }
    .menu-cont__phone {
      color: #fff;
    }
    .menu-cont__social-cont {
      width: 80%;
      margin-top: 3px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
    .menu-cont__vk,
    .menu-cont__inst,
    .menu-cont__fb,
    .menu-cont__yt {
      display: block;
      width: 17px;
      height: 17px;
    }
    .menu-cont__vk {
      background-image: url("/static/icons/social/vk.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
    .menu-cont__inst {
      background-image: url("/static/icons/social/inst.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
    .menu-cont__fb {
      background-image: url("/static/icons/social/fb.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
    .menu-cont__yt {
      background-image: url("/static/icons/social/yt.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
    .menu-cont__dropbtn {
      display: block;
    }
    .menu-cont__points {
      width: 120px;
      padding: 10px;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      z-index: 3;
      backdrop-filter: blur(6px);
      background-image: linear-gradient(90deg, #34c3a6 0%, #a587e3 100%);
      transition: 1s opacity cubic-bezier(1, 0.01, 0.16, 0.89);
      position: absolute;
      top: 100%;
      right: 0;
      bottom: auto;
      left: auto;
      border-radius: 0 0 6px 6px;
    }
    .menu-cont__point {
      display: block;
      width: auto;
      height: 20px;
      margin: 5px 0;
      font-size: 1.02em;
    }
    .menu-cont__between {
      display: none;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    .main-cont::-webkit-scrollbar {
      width: 17px;
    }
    .main-cont::-webkit-scrollbar-track {
      background: #f6f9f9;
      border: 1px solid rgba(42,42,42,0.2);
    }
    .main-cont::-webkit-scrollbar-thumb {
      background: rgba(42,42,42,0.2);
      border-radius: 4.199999999999999px;
      border: 2px solid #f8fefe;
    }
    .menu-cont__dropbtn,
    .promo-cont__order,
    .forms-cont__order {
      background-image: linear-gradient(-90deg, #a587e3 50%, #34c3a6 100%);
      transition: 1.2s background-position cubic-bezier(1, 0.01, 0.16, 0.89);
      background-size: 200% 100%;
      background-position: 100% 0;
    }
    .menu-cont__dropbtn:hover,
    .promo-cont__order:hover,
    .forms-cont__order:hover {
      background-position: 0 0;
    }
    .menu-cont {
      width: 100%;
    }
    .menu-cont__point:hover {
      color: #d8e4e4;
    }
}